@model SzereloCegApp.Models.Diagnosztika

@{
    ViewBag.Title = "Delete";
}

<h3>Biztosan törli a diagnosztikát?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HibaNeve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HibaNeve)
        </dd>        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-danger" /> |
            @Html.ActionLink("Vissza", "Index")
        </div>
    }
</div>
