@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Tech</h1>
    <p class="lead">Autoszerelő Cég Nyilvántartási rendszer</p>    
    <p>        
        @Html.ActionLink("Ügyfél Felvétel", "Create", "Ugyfelek", new object { }, new { @class = "btn btn-success btn-lg" })
    </p>
    <p>
        @Html.ActionLink("Adatbázis", "Index", "Ugyfelek", new object { }, new { @class = "btn btn-default btn-lg" })                    
    </p>      
    
</div>

    