@model BlogEngine.Models.BlogListViewModel

@{
    ViewBag.Title = "AddPost";
}
@using (Html.BeginForm("AddPost", "Blog", FormMethod.Post, new { role = "form" }))
{   
<div>
    <table>
        <tr >
            <td>Id: </td>
            <td colspan="2">@Html.TextBoxFor(m => m.Id, new { @readonly = "readonly" })</td>
        </tr>
    </table>
</div>
<div>
    <table>
        <tr>
            <td>Cím: </td>
            <td colspan="2">@Html.TextBoxFor(m => m.Tittle)</td>
        </tr>
    </table>
</div>
<div>
    <table>
        <tr>
            <td>Leírás: </td>
            <td colspan="2">@Html.TextBoxFor(m => m.Description)</td>
        </tr>
    </table>
</div>
<div>
    <table>
        <tr>
            <td>Poszt: </td>
            <td colspan="2">@Html.TextBoxFor(m => m.Body)</td>
        </tr>
    </table>
</div>
<div>
    <table>
        <tr>           
            <td colspan="3"><input class="btn-default" type="submit"/></td>
        </tr>
    </table>
</div>
}
