@model PagedList.IPagedList<SzereloCegApp.Models.Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("Index", "Posts", FormMethod.Get))
{
    <table>

        <tr>            
            <td>@Html.DropDownList("SzereloID", null, "Összes Szerelő", htmlAttributes: new { @class = "form-control" })</td>
            </tr>
           <tr>
            <td><input type="submit" value="Keresés" class="btn btn-info" /></td>
        </tr>       
    </table>
}
<br />
<div>
    @{ Html.RenderPartial("Posts");}
</div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
